.faq:hover{
    box-shadow:5px 5px 5px 5px #FFB26B;
    transition: box-shadow 1s;
    transform: scale(1.05);
    z-index: 3;
}

.form h3{
    text-align: center;
    margin-bottom: 10px;
    color: #03a4ed;
}

.form{
    margin: 50px;
    padding: 20px;
    background-image: url(../images/footer-dec.png) ;
  
}

#button{
    border: solid black;
    background-color: aliceblue;
}